* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: grid;
    grid-template-areas:
        'header'
        'heading'
        'text-cta'
        'services'
        'gallery'
        'footer'
        'copyright'
    ;
    background-color: black;
}

/* Utility Casses */
.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

li {
    list-style-type: none;
}


nav {
    padding: 1em;
}

.social-icon {
    padding: 0.5em;
    height: 1.2em;
    width: 1.2em;
    fill: white;
}

/* Header tag */
#header {
    /* background-color: red; */
    grid-area: header;
    height: 200px;
    width: 100%;
}

/* Nav for Contact and social icons */
#contact-links-li {
    padding: 0.5em;
}

#contact-links-li>svg {
    position: relative;
    top: 3px;
    margin-right: 5px;
    height: 1em;
    width: 1em;
    fill: white;
}

#social-icons {
    margin-right: 1em;
}

/* nav for logo and nav links */
#navbar {
    /* background-color: red; */
}

#logo {
    padding: 0.5em 1.2em;
}

#logo>svg {
    height: 2em;
    width: auto;
    fill: white;
}

.nav-links {
    padding: 0.5em 1.4em;
}

#heading {
    grid-area: heading;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: blue; */
    background-image: url('../Images/Broken-Cube.png');
    height: 110vh;
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#heading > h1 {
    font-size: 2em
}


#heading-cta-btn {
    background-color: blue;
    border: 0;
    border-radius: 4px;
    padding: 0.5em 1em;
    font-size: 1.3em;
}

#text-cta {
    grid-area: text-cta;
    background-color: red;
}

#services {
    grid-area: services;
    background-color: blue;
}

#gallery {
    grid-area: gallery;
    background-color: red;
}

#footer {
    grid-area: footer;
    background-color: blue;
}

#copyright {
    grid-area: copyright;
    background-color: red;
}